[submodule "ooelala-src"]
	path = ooelala/src
	url = https://github.com/compilerai/ooelala-patches
	branch = master
[submodule "ooelala-ubsan"]
	path = ooelala/ubsan
	url = https://github.com/compilerai/ooelala-ubsan-patches
	branch = master
