[submodule "ooelala-src"]
	path = ooelala/src
	url = https://github.com/vaibhavbhagee/llvm-8.0.0
	branch = ooelala-patches
[submodule "ooelala-ubsan"]
	path = ooelala/ubsan
	url = https://github.com/vaibhavbhagee/llvm-8.0.0
	branch = ubs-patches
